{% extends "Owner/owner.html" %}
{% block css %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Hostel Management System</title>

<!-- Custom fonts for this template-->
<link href="{{url_for('static',filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
<link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

<!-- Custom styles for this template-->
<link href="{{url_for('static',filename='css/sb-admin-2.min.css')}}" rel="stylesheet">

<!-- Custom styles for this page -->
<link href="{{url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.css')}}" rel="stylesheet">

{% endblock %}

{% block sidenavbar %}
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/ownerhome">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Hostel<sup>@</sup></div>
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/ownerhome">
            <i class="fas fa-home"></i>
            <span>Home</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading">
        Main Pages
    </div>
    <!-- Nav Item - Profile -->
    <li class="nav-item">
        <a class="nav-link" href="/profileowner">
            <i class="fas fa-fw fa-user-tie"></i>
            <span>Profile</span></a>
    </li>
    <!-- Nav Item - Register -->
    <li class="nav-item">
        <a class="nav-link" href="/createAccountManager">
            <i class="fas fa-fw fa-sign-in-alt"></i>
            <span>Register A Manager</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/profilemanagerOwner">
            <i class="fas fa-fw fa-id-card"></i>
            <span>Manager Detail</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/room">
            <i class="fas fa-fw fa-calendar-week"></i>
            <span>Rooms Detail</span></a>
    </li>
    <!-- Nav Item - Login -->
    <li class="nav-item">
        <a class="nav-link" href="/residentsDetail">
            <i class="fas fa-fw fa-bars"></i>
            <span>Residents Detail</span></a>
    </li>
    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="/workersDetail">
            <i class="fas fa-fw fa-table"></i>
            <span>Workers Detail</span></a>
    </li>
    <!-- Nav Item - Forgot Password -->
    <li class="nav-item active">
        <a class="nav-link" href="/changepasswordowner">
            <i class="fas fa-fw fa-key"></i>
            <span>Change Password</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading">
        Messages Inbox
    </div>
    <!-- Nav Item - Register -->
    <li class="nav-item">
        <a class="nav-link" href="/sendMessage">
            <i class="fas fa-fw fa-sms"></i>
            <span>Send Message</span></a>
    </li>
    <!-- Nav Item - Forgot Password -->
    <li class="nav-item">
        <a class="nav-link" href="/recieveMessage">
            <i class="fas fa-fw fa-envelope-open"></i>
            <span>Recieved Messages</span></a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Logout
    </div>
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal">
            <i class="fas fa-sign-out-alt"></i>
            Logout
        </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->
{% endblock %}

{% block body %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-center mb-4">
        <h1 class="h3 mb-0 text-gray-800">Change Password of Your Account</h1>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-2">Owner</h1>
                    <h1 class="h4 text-gray-900 mb-2">Change Your Password?</h1>
                    <p class="mb-4">We get it, stuff happens. Just enter your email address below
                        and Change your password!</p>
                </div>
                <form class="user" action="/changePinMyOwner" method="POST">
                    <div class="form-group">
                        <input type="email" name="owneremail" class="form-control form-control-user" id="exampleInputEmail"
                            aria-describedby="emailHelp" placeholder="Enter Email Address..." required="required">
                            <div id="email-valid" style="display: none; margin-left: 15px;"></div>
                        </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="password" name="ownerpin" class="form-control form-control-user"  id="exampleInputPassword" placeholder="Password" aria-describedby="button12" required='required'>
                                <button class="btn btn-user" onclick="showpassword()" style="border-left:none; border-color: #d1d3e2;" type="button" id="button12">
                                <i id="shape" class="fa fa-eye-slash"></i>
                                </button>
                          </div>
                          <div id="pin-valid" style="display: none; margin-left: 15px;"></div>
                    </div>
                    <button type="submit" onclick="checkid()" class="btn btn-primary btn-user btn-block">
                        Reset Password
                    </button>

                </form>
            </div>
        </div>
        <div class="col-lg-6 d-none d-lg-block">
            <img src="static/img/Forgot_password.png" style="width: 100%;height:100%;">
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<!-- Bootstrap core JavaScript-->
<script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
<script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

<!-- Core plugin JavaScript-->
<script src="{{url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>

<!-- Custom scripts for all pages-->
<script src="{{url_for('static',filename='js/sb-admin-2.min.js')}}"></script>

<!-- Page level plugins -->
<script src="{{url_for('static',filename='vendor/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>

<!-- Page level custom scripts -->
<script src="{{url_for('static',filename='js/demo/datatables-demo.js')}}"></script>
<script src="{{url_for('static',filename='js/loginform.js')}}"></script>
{% endblock %}